.metadata
.recommenders
.DS_Store
LearningAnalyticsForAppInventor/bin/*.jar
AugmentedRealityForAppInventor/bin/*.jar
android-support-v7-appcompat/bin/*.jar
/Servers/
MongoDBWS
VedilsWS/build/
LibARpruebas/assets/
